:root {
    --default-border-radius: 1em;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: rgb(22 37 75);
    font-family: Inter;
    margin:0;
}

a {
    text-decoration: none;
}

a:visited {
    color:white;
}

.média a {
	font-size:90%;
	color:#082fda;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
}

button {
    cursor: pointer;
}

.s {
	opacity:70%;
	font-size:80%;
	font-weight:500;
	margin-right:.4em;
	text-decoration-thickness: 2px;
	text-decoration-color:rgba(255,255,255,.8);
}

.s + h3 {
	display:inline-block;
	margin:1em .3em;
}

#header {
    position: fixed;
    top:0;
    color:white;
    margin:0;
    padding:3em 1em 1em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    z-index: 100;
    transition: all ease .5s;
}

.sticky {
    backdrop-filter: blur(9px) saturate(110%);
    background-color: rgba(0,15,48,0.2);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#header a {
    font-weight:700;
    font-size:150%;
    margin-left:.3em;
    color: white !important;
}

#header button {
    border: none;
    background-color: transparent;
    padding:.6em .8em;
    border-radius: var(--default-border-radius);
    font-size:1.2em;
    color:white;
    float: right;
}

#header .fa-instagram,
#header .fa-youtube {
    background-color:rgba(0,0,50,.12);
	outline:solid 2px rgba(255,255,255,.1);
	border-radius:.4rem;
	padding:.4rem;
	text-align:center;
	transition:all ease .16s;
}

#header .fa-instagram:hover,
#header .fa-youtube:hover {
    background-color:rgba(125,205,255,.18);
	outline:solid 2px rgba(255,255,255,.4);
	border-radius:.4rem;
	padding:.4rem;
	text-align:center;
}

#footer {
    color:white;
    padding:.6em 2em;
}

.modal-container {
	position:fixed;
	width:100%;
	height:100%;
	backdrop-filter:blur(10px);
	z-index:49;
	transform: scale(0);
	padding:1em;
}

.nav-modal {
    opacity: 0;
    position:fixed;
    top:calc(33% - 5vw);
    left:0;
	right:0;
	margin:auto;
	transform: scale(0) translate(-50%, -50%);
	min-width:300px;
	max-width:500px;
    width:fit-content;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(255,255,255,.9);
    padding:1.2em 1.2em 1.7em 1.2em;
	backdrop-filter:blur(10px);
    border-radius: var(--default-border-radius);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 50;
}

.nav-modal hr {
    opacity: .3;
    margin:0;
    padding:0;
}

.nav-modal .link {
    margin:.8em .5em;
    font-size: 120%;
    text-align: right;
    color:rgb(0, 13, 72);
	transition: all ease .3s;
}

.nav-modal .link:not(.cta-link) i {
	transition: all ease .3s;
}

.nav-modal .link:hover:not(.cta-link) i:nth-of-type(1) {
	margin-left:.5em;
}

.nav-modal .link i:nth-of-type(1) {
    float: left;
    padding-right:1em;
    color:rgb(8, 47, 218);
    cursor: pointer;
}

.nav-modal .link i:nth-of-type(2) {
    float: right;
    margin-top:.25em;
    font-size: 80%;
    padding-left:.7em;
    color:rgba(8, 47, 218, .9);
    cursor: pointer;
}

.nav-modal .cta-link {
    background-color:rgb(255, 247, 0);
    margin:.2em 0 0 0;
    padding:.8em .8em;
    border-radius: .6em;
    box-shadow: 5px 5px rgb(8, 47, 218, 0.45);
}

.nav-modal .cta-link:hover {
	background-color:rgb(0 255 218);
    box-shadow: none;
    transform: translate(3px, 3px);
}

.section > h2 {
	text-align:center;
	font-size:2.3em;
}

.section > h2 > i {
	padding-right:.33em;
}

#intro *:not(i) {
    font-family: Inter;
}

#intro a {
    display: block;
    width: 60%;
    margin-left:2em;
    z-index: 2;
    position: relative;
}

#intro a > button, #intro a > button > i {
    transition: all ease .4s;
}

#intro a:hover > button > i {
    margin-left:.6rem;
}

.blob {
    width:70vw;
    height:60vh;
    border-radius:50%;
    position: absolute;
    z-index: 0;
    filter: blur(100px) brightness(80%);
    will-change: transform;
}

.blob-blue {
    background-color: #082fda;
    animation: blob-move-blue 35s alternate infinite;
}

.blob-purple {
    background-color: #5c08da;
    animation: blob-move-purple 42s alternate infinite;
}

@keyframes blob-move-blue {
    0% {
        transform: translate(-40%,-10%);
        rotate:0deg;
        width:80%;
        background-color: #082fda;
    }

    25% {
        transform: translate(10%,20%);
        background-color: #0886da;
    }

    60% {
        transform: translate(12%,3%);
        rotate:90deg;
        width:110%;
        background-color: #4213cf;
    }

    75% {
        transform: translate(16%,10%);
        rotate:200deg;
        background-color: #159497;
    }

    100% {
        transform: translate(60%,20%);
        rotate:0deg;
        width:60%;
    }
}

@keyframes blob-move-purple {
    0% {
        transform: translate(10%,-40%);
        rotate:0deg;
        background-color: #5508da;
        opacity: 40%;
    }

    25% {
        transform: translate(40%,-20%);
        background-color: #5c08da;
        opacity: 20%;
    }

    60% {
        transform: translate(-12%,-70%);
        rotate:90deg;
        background-color: #563c94;
        opacity: 100%;
    }

    75% {
        transform: translate(16%,40%);
        rotate:-200deg;
        background-color: #005c95;
        opacity: 80%;
    }

    100% {
        transform: translate(9%,20%);
        rotate:0deg;
        opacity: 100%;
        background-color: #177fbf;
    }
}

#intro {
    color: white;
    padding-top:min(14%,9.5em);
    padding-left:6.5%;
    padding-right:6.5%;
    background-color: #164290;
	background-image: radial-gradient(circle at 40% 30%, #2970b3 0%, #164290 25%, #0e0945 100%);
    padding-bottom:3em;
    overflow: hidden;
    height:fit-content;
    position: relative;
	display:grid;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 1fr .2fr;
	grid-template-areas:
			"text image"
			"midia midia";
}

#intro h1 p {
	width:80%;
}

.andre {
	width:auto;
	max-width:50vw;
	max-height:80vh;
	top:8%;
    position:absolute;
	right:5%;
}

#intro .text {
	grid-area:text;
}

#intro .image {
	grid-area:image;
}

#na-midia {
	grid-area:midia;
}

#intro h1 {
	margin:0 auto .1em .5em;
    float:left;
	z-index:1;
	font-size:min(7vw,3.8em);
    position: relative;
	font-weight: 800;
}

#intro h1 > br {
    display:none;
}

#intro h1 > u {
    text-decoration-color: rgb(255, 247, 0);
    text-underline-offset: .12em;
    text-decoration-thickness: 6px;
}

#intro h1 p {
	font-size:max(40%,.5em);
	font-weight:400;
	opacity:90%;
}

#intro button {
    background-color: rgb(255, 247, 0);
    color:#03135e;
    font-family: Inter;
    font-weight: 600;
    z-index: 1;
    border: none;
    font-size: 1.44em;
    padding:.84em 1.2em;
    border-radius: .5em;
    vertical-align: middle;
}

#intro button > i {
    padding-left:.4em;
}

#intro .fa-arrow-down {
    display: block;
    text-align: center;
    margin-top:3em;
    margin-bottom:-2em;
    opacity: 80%;
}

#na-midia {
    text-align: center;
    margin-bottom:0;
    padding:1em;
    border-radius: 1em;
    margin-left:auto;
    margin-right:auto;
}

#na-midia .link-container {
	text-align:center;
}

#na-midia .link-container a {
    display:inline;
	text-align:center;
    margin:inherit;
	background-color:rgba(255,255,255,.12);
	padding:2em .4em .2em .4em;
	border-radius:.3em;
	opacity:55%;
	transition: all ease .5s;
}

#na-midia .link-container a:hover, #na-midia .link-container a.selected {
	background-color:rgba(255,255,255,.2);
	box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 1px, rgba(0, 10, 60, 0.25) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	opacity:100%;
}

#na-midia p {
    font-size:.7em;
    letter-spacing: .32em;
	opacity:75%;
}

#na-midia img:nth-of-type(1) {
    max-height:2.4em;
    margin:0 .33em;
}

#na-midia img[src="editora-abril.svg"] {
    max-height:3em;
    margin-bottom:-.2em;
}

#quem-sou-eu {
    padding:6em .6em;
    z-index: 50;
	width:75%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	padding:1em 3em 3em 3em;
	border-radius:1.2em;
	transition: all ease .3s;
}

#metodo {
    padding:6em .6em;
    z-index: 50;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	padding:1em 3em 3em 3em;
	border-radius:1.2em;
	transition: all ease .3s;
}

#news-preview iframe {
	height:30em;
	width:100%;
	margin-top:3em;
	background-color:white;
	border:none;
	border-radius: calc(var(--default-border-radius) + .1em);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#quem-sou-eu {
	background-color:#ffffff;
}

#metodo {
	background:radial-gradient(circle at 40% -20%, rgb(216 227 255 / 22%) 0%, rgb(87 113 255 / 20%) 57%, rgb(48 56 100) 100%);
	color:white;
}

#metodo > h2:nth-of-type(1) > i {
	color:#ffd62d;
}

#quem-sou-eu img {
    width:100%;
    border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
}

#quem-sou-eu h2 {
	margin-top:1em;
}

#quem-sou-eu h2 i {
	color: rgb(0 163 140);
}

#quem-sou-eu .initial-quem-sou-eu {
    display: flex;
    padding-bottom:0;
    padding-left:1em;
    float:none;
}

#show-quem-sou-eu-more,
#show-metodo-more {
	display: flex;
    text-align: center;
    justify-content: center;
}

#show-quem-sou-eu-more button,
#show-metodo-more button {
	padding:.8em 2em;
	border-radius:2em;
	border:none;
	font-family:Inter;
	margin-top:.6em;
}

#show-quem-sou-eu-more button {
	background:rgb(78 159 255 / 16%);
	color: #0c1e6b;
}

#show-metodo-more button {
	background: rgb(255 255 255 / 11%);
    color: #9babc4;
}

#metodo hr {
	border: 1px dashed rgba(255,255,255,.2);
}

#quem-sou-eu-more,
#metodo-more {
    display: none;
	padding:0 1em;
}

#quem-sou-eu p,
#resultados p,
#metodo > p {
    padding:0 1em;
}

#resultados {
    padding:3em .6em;
    color:white;
}

#resultados img {
    width:4em;
}

#resultados h2 i {
	color:#6b9bff;
}

#resultados .results-wrapper,
#resultados .média {
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    margin:.5em .2em .2em .2em;
    padding:.4em;
    border-radius: calc(var(--default-border-radius) + .1em);
    /*box-shadow: 6px 6px rgba(0,0,0,.1);*/
    max-width: 95vw;
}

#resultados .results-wrapper {
    text-align: center;
    width:90%;
    max-width:15em;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}

#resultados .results-wrapper:nth-of-type(5) {
	grid-area:red;
}

#resultados .média {
	grid-area:maior;
}

#resultados .results-wrapper-content {
	padding:.4em .8em 1.6em .8em;
}

#resultados .results-wrapper-header {
	width:100%;
	padding:1em;
	border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

#resultados .results-grid {
	display:grid;
	width:max(40%,400px);
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
    "ling hum"
    "nat mat"
    "red red"
	"maior maior";
	align-items:center;
}

#resultados .results-grid-container {
	display: flex;
    justify-content: center;
}

#resultados .results-wrapper p,
#resultados .results-wrapper h3 {
    margin:0;
}

#resultados .média {
    margin-top:1em;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    padding:.6em 1.4em 1.4em 1.4em;
    border-radius: var(--default-border-radius);
    box-shadow: 9px 9px rgba(0,0,0,.2);
}

#resultados .média h3 {
    margin-bottom:0;
    padding-bottom:0;
}

#resultados .média p {
    margin:0;
    padding:0;
}

#resultados .média h3:nth-of-type(1) {
	text-align:center;
}

#resultados .média h3 > b {
    font-size: 220%;
    color: #082fda;
	font-weight:900;
}

#resultados .results-wrapper h3 {
    font-size: 1.3em;
    padding:0 .4em;
}
/*
#resultados .results-wrapper:nth-of-type(1) {
	animation:wiggle 4s alternate infinite;
}

#resultados .results-wrapper:nth-of-type(4) {
	animation:wiggle 4.5s alternate infinite;
}

#resultados .results-wrapper:nth-of-type(2) { 
	animation:counterwiggle 4.7s alternate infinite;
}

#resultados .results-wrapper:nth-of-type(3) { 
	animation:counterwiggle 5.1s alternate infinite;
}

#resultados .results-wrapper:nth-of-type(5) { 
	animation:counterwiggle 5.7s alternate infinite;
}
*/

.results-wrapper-content * {
	text-decoration:none !important;
}

.linguagens h3, .linguagens s {
    color:#DC0A2C;
}

.linguagens .results-wrapper-header {
	background-color:#DC0A2C;
}

.humanas h3, .humanas s {
    color:#FC7E04;
}

.humanas .results-wrapper-header {
	background-color:#FC7E04;
}

.natureza h3, .natureza s{
    color:#009F74;
}

.natureza .results-wrapper-header {
	background-color:#009F74;
}

.matematica h3, .matematica s {
    color:#5C06BA;
}

.matematica .results-wrapper-header {
	background-color:#5C06BA;
}

.redacao h3, .redacao s {
    color:#075BC6;
}

.redacao .results-wrapper-header {
	background-color:#075BC6;
}

#resultados .results-wrapper .fa-star {
    color:#dbb025;
	animation: rotate 10s linear infinite;
}

#resultados .results-wrapper p {
    padding:0 .4em 0 0;
    text-align: center;
}

#resultados .results-wrapper p > b {
    font-weight: 800;
    font-size:110%;
}

#resultados .results-wrapper.redacao p:nth-of-type(1) {
    font-weight: 600;
    font-size:120%;
}

#metodo {
    margin-top:3em;
}

#product-selector-parent {
	text-align:center;
	padding-bottom:1em;
}

#product-selector {
	display:inline-block;
	margin:auto;
	text-align:center;
	background-color:rgba(255,255,255,.15);
	border-radius:1.5em;
	border:1px solid rgba(255,255,255,.18);
	padding:.77em 1em;
	box-shadow: rgba(0, 20, 70, .4) 0px 20px 30px -10px;
	transition:all ease .5s;
}

.product-title {
	display:inline-block;
	text-align:center;
	font-size:1.8em;
	color:white;
    margin: .1em .2em;
    /*background-color: rgb(158,194,255,.2);*/
	padding:.4em .85em;
	border-radius:.6em;
	cursor:pointer;
	transition: all ease-in .15s;
}

.product-title p {
	display:inline;
}

#product-selector:hover {
	transform:scale(1.05);
	box-shadow: none;
}

.product-title:hover {
	box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 1px, rgba(0, 10, 60, 0.25) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	background-color:rgba(255, 255, 255, 0.12);
	color:white;
}

.product-title.selected {
	transform:scale(1.05);
}

.product-title:nth-of-type(1).selected {
	background-color: #365eff;
    color: white;
}

.product-title:nth-of-type(2).selected {
	background-color: rgb(0 40 138);
    color: white;
}

.product-title i {
	margin-right: .5em;
}

#mobile-product-label {
	display:none;
}

#mobile-product-label h1 {
	margin-top:.2em;
}

#mobile-product-label p {
	display:inline-block;
	text-align:center;
	font-size:1.2em;
	color:white;
    margin:.1em;
	border-radius:.7em;
	transition: all ease-in .1s;
}

#mentoria-container {
	display:none;
}

.card-container {
	display:grid;
	margin:auto;
	grid-template-columns:1fr 1fr;
    text-align: center;
	justify-items:center;
	width:fit-content;
}

.card {
    display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-areas:
				"cover text"
				"cover text";
	align-items: center;
	min-width:500px;
	max-width:35vw;
    padding:1rem .5rem;
    border-radius:1.6rem;
    color: white;
    text-align: center;
    margin: 1em 1em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	overflow: hidden;
	position:relative;
	/*
	border-style: solid;
	border-color:rgba(255,255,255,.2);
	border-width: 1px 2px 3px 2px;*/
}

.card-wide {
    display: inline-block;
    padding:1.3rem;
    border-radius:2.5rem;
    color: white;
    text-align: center;
    margin: 2.3em auto 1em auto;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	overflow: hidden;
	position:relative;
	max-width:850px;
	/*
	border-style: solid;
	border-color:rgba(255,255,255,.2);
	border-width: 1px 2px 3px 2px;*/
}

.card img {
	grid-template-area:"cover";
    margin:.6em;
    border-radius: .8em;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 25px 20px -20px;
    width: 90%;
    display: inline-block;
	position:relative;
	z-index:10;
	transition: all ease .3s;
}

.card-wide img {
	max-width:30vw;
	max-height:60vh;
}

.ebook-page-count {
	grid-area:cover;
	padding:.3em 0;
	border-radius:.4em;
	max-width:10em;
	margin:-1em auto .4em auto;
}

.ebook-page-count p {
	font-size:85%;
	font-weight:400;
	opacity:50%;
	color:white;
}

.card h2,
.card-wide h2 {
	font-weight:800;
	text-align:left;
	margin:.5em .5em .25em .5em;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.11);
	line-height:96%;
}

.card h2 {
	font-size:1.75em;
}

.card-wide h2 {
	font-size:2.4em;
}

.card > div > p {
	text-align: justify;
	word-break: auto-phrase;
	margin:.1em .85em .05em .85em;
	font-size: 90%;
	color:rgba(255,255,255,90%);
}

.card > div > p b {
	color: white;
}

.card button, .card-wide button {
    display: block;
    font-family: Inter;
    font-size:1.1em;
    font-weight: 600;
    border-radius:.7em;
    border: none;
    padding: .8em 1.8em;
    color:#020d3c;
    background-color: rgb(255 249 79);
    margin: 0 0 1em .5em;
    transition: all ease .2s;
	position:relative;
	z-index:10;
}

.card-wide a {
	display:inline-block;
}

.price {
	font-size:1.5em;
	font-weight:800;
	text-align:left;
	margin-left:.5em;
}

.big-icon {
	font-size:17em;
	opacity:15%;
	top:50%;
	right:0%;
	position:absolute;
	rotate:10deg;
	z-index:0;
}

.big-icon.fa-calculator {
	/*left:16%;
	top:55%;*/
	/*opacity:9%;*/
}

.big-icon.fa-comments {
	font-size:14em;
	opacity:23%;
	right:3%;
	rotate:-6deg;
}

.big-icon.estrat-tag {
	opacity:10%;
}

.big-icon.nat-tag {
	rotate:-10deg;
}

.new {
	padding:.3em 0;
	border-radius:.4em;
	margin: 0 0 1em .9em;
	font-size:90%;
	font-weight:500;
	/*max-width:10em;*/
	position:relative;
	z-index:2;
	text-align:center;
}

.new i, .new p,
.ebook-page-count i, .ebook-page-count p {
	display:inline-block;
	padding:0;
	margin:0 auto 0 auto;
}

.new i {
	margin-right:.6em;
}

.ebook-page-count.ling-tag,
.ebook-page-count.hum-tag {
	color: antiquewhite;
}

.new.combo-tag {
    background-color: #0369ff;
    color: white;
    box-shadow: 0px 0px 20px 5px rgb(62 101 255 / 40%);
}

.new.combo-tag i {
	color:#fff94f;
}

.new.ling-tag {
	background-color: #760000;
	color:white;
	box-shadow: 0px 0px 20px 5px rgb(255 106 62 / 40%);
}

.new.ling-tag i {
	color:#ff9900;
}

.new.bio-tag i {
	color:#ffeb4d;
}

.new.hum-tag {
	color:white;
	background-color:rgb(255 132 0);
}

.new.mat-tag {
	background-color: rgb(214 201 255);
	color:black;
}

.new.bio-tag {
	background-color:#34a755;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  45% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.new.combo-tag {
	-webkit-animation: breathing 5s ease-in-out infinite normal;
    animation: breathing 5s ease-in-out infinite normal;
}

.new p {
	font-family:Inter !important;
	font-weight:600;
}


#card-mentoria {
	display:grid;
	grid-template-columns:4fr 5fr;
	width:100%;

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 40% 30%, rgb(17 63 169) 20%, rgb(22 26 109) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 40% 30%, rgb(17 63 169) 20%, rgb(22 26 109) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 40% 30%, rgb(17 63 169) 20%, rgb(22 26 109) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 40% 30%, rgb(17 63 169) 20%, rgb(22 26 109) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 40% 30%, rgb(17 63 169) 20%, rgb(22 26 109) 100%);

	border-radius:2.5em;
}

.card-mentoria-right {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	text-align:left;
	padding:1em;
}

.card-mentoria-left,
.card-mentoria-right {
	margin:auto;
}

#card-cti-bio {

    background:#07772b;

	color:white;
}

#card-cti-mat {

    /* ff 3.6+ 
    background:-moz-radial-gradient(circle at 10% 40%, rgb(124 45 137) 0%, rgb(53 19 114) 54%, rgb(27 0 57) 83%, rgb(7 25 53) 100%);

    /* safari 5.1+,chrome 10+ 
    background:-webkit-radial-gradient(circle at 10% 40%, rgb(124 45 137) 0%, rgb(53 19 114) 54%, rgb(27 0 57) 83%, rgb(7 25 53) 100%);

    /* opera 11.10+ 
    background:-o-radial-gradient(circle at 10% 40%, rgb(124 45 137) 0%, rgb(53 19 114) 54%, rgb(27 0 57) 83%, rgb(7 25 53) 100%);

    /* ie 10+ 
    background:-ms-radial-gradient(circle at 10% 40%, rgb(124 45 137) 0%, rgb(53 19 114) 54%, rgb(27 0 57) 83%, rgb(7 25 53) 100%);

    /* global 92%+ browsers support 
    background:radial-gradient(circle at 10% 40%, rgb(124 45 137) 0%, rgb(53 19 114) 54%, rgb(27 0 57) 83%, rgb(7 25 53) 100%);

	color:rgb(255, 255, 255);
	
	box-shadow: 0 0 50px 15px #30074e;
	*/
	
	background-color: #6f0eab;
}
     

#card-cti-hum {
    /* ff 3.6+ 
    background:-moz-radial-gradient(circle at 40% 100%, rgb(169 134 72) 0%, rgb(93 62 16) 34%, rgb(75 49 9) 69%, rgb(93 61 22) 100%);;

    /* safari 5.1+,chrome 10+ 
    background:-webkit-radial-gradient(circle at 40% 100%, rgb(169 134 72) 0%, rgb(93 62 16) 34%, rgb(75 49 9) 69%, rgb(93 61 22) 100%);;

    /* opera 11.10+ 
    background:-o-radial-gradient(circle at 40% 100%, rgb(169 134 72) 0%, rgb(93 62 16) 34%, rgb(75 49 9) 69%, rgb(93 61 22) 100%);;

    /* ie 10+ 
    background:-ms-radial-gradient(circle at 40% 100%, rgb(169 134 72) 0%, rgb(93 62 16) 34%, rgb(75 49 9) 69%, rgb(93 61 22) 100%);;

    /* global 92%+ browsers support 
    background:radial-gradient(circle at 40% 100%, rgb(169 134 72) 0%, rgb(93 62 16) 34%, rgb(75 49 9) 69%, rgb(93 61 22) 100%);
	*/
	
	background-color: #d85500;
	
}

#card-cti-ling {
    /* ff 3.6+ 
    background:-moz-radial-gradient(circle at 32% 20%, rgb(220 26 26) 0%, rgb(95 8 8) 34%, rgb(95 9 9) 58%, rgb(42 1 1) 100%);

    /* safari 5.1+,chrome 10+ 
    background:-webkit-radial-gradient(circle at 32% 20%, rgb(220 26 26) 0%, rgb(95 8 8) 34%, rgb(95 9 9) 58%, rgb(42 1 1) 100%);

    /* opera 11.10+ 
    background:-o-radial-gradient(circle at 32% 20%, rgb(220 26 26) 0%, rgb(95 8 8) 34%, rgb(95 9 9) 58%, rgb(42 1 1) 100%);

    /* ie 10+ 
    background:-ms-radial-gradient(circle at 32% 20%, rgb(220 26 26) 0%, rgb(95 8 8) 34%, rgb(95 9 9) 58%, rgb(42 1 1) 100%);

    /* global 92%+ browsers support 
    background:radial-gradient(circle at 32% 20%, rgb(220 26 26) 0%, rgb(95 8 8) 34%, rgb(95 9 9) 58%, rgb(42 1 1) 100%);
	*/
	
	background-color: #c90505;
	
}

#card-estrat-01 {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 47% 21%, rgb(40 62 166) 0%, rgb(0 11 60) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 47% 21%, rgb(40 62 166) 0%, rgb(0 11 60) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 47% 21%, rgb(40 62 166) 0%, rgb(0 11 60) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 47% 21%, rgb(40 62 166) 0%, rgb(0 11 60) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 47% 21%, rgb(40 62 166) 0%, rgb(0 11 60) 100%);

}

#show-mentoria-benefits button {
    background-color: rgba(255, 255, 255, .25);
    padding:.8em 1.8em;
    border-radius: .55em;
    display: block;
    margin-bottom:.1em;
    color: white;
}

#card-mentoria a:nth-of-type(2) button:hover {
	background-color:white;
	color:black;
}

#card-mentoria a:nth-of-type(2) button:hover i {
	color:#082fda;
}

#card-mentoria a:nth-of-type(2) button i {
    color: white;
}

.card-wide button i {
	transition: all ease .5s;
}

.card-wide b {
	font-weight:700;
}

#card-mentoria p > b {
    font-size: 120%;
}

.card img:hover {
	transform: scale(1.09);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 15px -10px;
}

.card button i, .card-wide button i {
    font-size:90%;
    padding-left:.3em;
	color:#03135e;
}

.card button:hover {
	background-color:rgb(47 255 215);
	color:#020d3c;
	transform:scale(1.2);
	box-shadow:none;
}

.card-wide button:hover {
	background-color:rgb(47 255 215);
	color:#020d3c;
	box-shadow:none;
}

.card-wide button:hover i {
	margin-left:.5em;
}

#beneficios-mentoria {
	padding-left:1em;
}

#beneficios-mentoria p {
	text-align:justify;
}

#beneficios-mentoria li, #card-mentoria-content ul li {
    text-align: left;
    margin-bottom:.5em;
    margin-left:-1em;
    list-style: none;
}

#beneficios-mentoria li > i, #card-mentoria-content ul li > i {
    padding-right:.5em;
	color:yellow;
}

#metodo .fa-circle-check {
    color: #1fffac;
}

.disabled {
    opacity: 80%;
    filter: saturate(50%);
    pointer-events: none;
}

.show {
    animation: showanim .3s forwards;
}

#quem-sou-eu img {
    width:30%;
    max-width: 25em;
    margin:auto;
    text-align: center;
    float:left;
}

@keyframes showanim {
    0% {
        opacity: 0;
    }
	
	1% {
		transform: scale(1);
	}

    100% {
        opacity: 1;
		transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes wiggle {
    0% {
        rotate: -1.5deg;
    }

    100% {
        rotate: 1.5deg;
    }
}

@keyframes counterwiggle {
    0% {
        rotate: 1.5deg;
    }

    100% {
        rotate: -1.5deg;
    }
}

@media (min-width:600px) and (max-height:700px) {
	#header {
		padding:1em;
	}
	
	.card-container:nth-of-type(2),
	.card-container:nth-of-type(3) {
		grid-template-columns:1fr;
		grid-template-rows:1fr 1fr;
	}
	
	.card-wide img {
		max-height: 80vh;
	}
}


@media (max-width: 1200px) and (min-height: 700px) {
	.card-container:nth-of-type(2),
	.card-container:nth-of-type(3) {
		grid-template-columns:1fr;
		grid-template-rows:1fr 1fr;
	}
	
	.card-container-wide {
		grid-template-rows:1fr;
	}
	
	#card-mentoria {
		grid-template-columns:1fr;
	}
	
	.card-wide {
		max-width:94%;
	}
	
	.card-wide img {
		max-width:min(400px, 80vw);
	}
	
	.card-wide a {
		max-height:50vh;
	}
	
		
	#card-mentoria a button {
		margin:auto;
	}
	
	.card-mentoria-right {
		text-align:center;
	}
	
	#beneficios-mentoria {
		margin-left:-1em;
	}
	
	#card-mentoria-content h2 {
		margin:auto;
	}
	
	.card {
		width:100%;
		grid-template-columns:1fr;
		grid-template-areas:"cover" "text";
		min-width:50vw;
		max-width:90vw;
		margin: 1em auto auto auto;
		font-size:120%;
	}
	
	.card > div > h2,
	.card > div > h3,
	.card > div > a,
	.card-wide > div > div > h3,
	.card-wide h2 {
		text-align:center;
	}
	
	.new {
		margin:.9em auto 1em auto;
	}
	
	.card button {
		margin: .5em auto 1em auto;
	}
	
	.big-icon {
		top:66%;
		left:0%;
	}
	
	.big-icon.fa-comments {
		left:7%;
		top:73%;
	}
}
}
	
@media (min-width: 440px) {

    #intro {
        padding:.6em;
        color: white;
        padding-top:16%;
        padding-bottom:4em;
    }
  
    #intro h1 {
        margin-top:35%;
        font-size:2em;
    }

    #intro h1 > br {
        display:block;
    }

    #intro a {
        margin-left:.3em;
    }

    #intro button {
        padding:.7em 1em;
        font-size: 1.2em;
    }

    .andre {
        float: right;
        position: absolute;
        top:22%;
        width:54%;
        height: auto;
        right:0;
        -webkit-mask-image: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 88%, rgba(255,255,255,0) 100%);
        mask-image: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 88%, rgba(255,255,255,0) 100%);
        z-index: 0;
        pointer-events: none;
    }

    #na-midia {
        width: auto;
        text-align: center;
        margin-top:2.5em;
        margin-bottom:0;
        opacity: 75%;
    }

    #quem-sou-eu {
        padding:3em .5em;
		width:85%;
    }
	
	#quem-sou-eu h2 {
	margin-top:0em;
	margin-bottom:.5em;
	}

    #quem-sou-eu img {
        width:100%;
        float:inherit;
		border-radius:.7em;
	}
	
	#show-metodo-more button,
	#show-quem-sou-eu-more button {
		font-size:100%;
	}
	
	#resultados .results-grid {
		display:block;
		width:100%;
	}

    #resultados .results-wrapper {
        text-align: center;
        width:55%;
        margin-left:auto;
        margin-right:auto;
    }
  
    #resultados .results-wrapper:nth-of-type(1),
    #resultados .results-wrapper:nth-of-type(3),
    #resultados .results-wrapper:nth-of-type(5) {
        margin-right:35%;
		rotate:-2.5deg;
    }
    
    #resultados .results-wrapper:nth-of-type(2),
    #resultados .results-wrapper:nth-of-type(4) { 
        margin-left:35%;
		rotate:2.5deg;
    }
}


@media (max-width: 600px){
    
	.nav-modal {
        top:max(17vh,13vw);
    }
	
	#quem-sou-eu {
		width:95%;
		padding:.7em;
	}

    #quem-sou-eu img {
        width:100%;
        float:inherit;
    }
	
	#intro {
		padding: 42% 1.2% 15% 1%;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr .2fr;
		grid-template-areas:
				"text image"
				"midia midia";
	}
	
	#intro h1 {
		font-size: 2rem;
		width:100%;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.12);
	}
	
	#intro a {
		margin-left:0;
		padding-left:4%;
		width:100%;
	}
	
	#intro a button {
		font-size:1.2em;
	}
	
	#na-midia {
		padding-top:2em;
	}
	
	#na-midia p, #na-midia .link-container {
        text-align: center;
	}
	
	#metodo h2:nth-of-type(2) {
		margin-bottom:0;
	}
	
	#metodo {
		width:95% !important;
		padding:.1em;
	}
	
	#resultados .results-grid-container {
		display: block;
	}
	
	#resultados .results-grid {
		width:100%;
	}
	
	#show-mentoria-benefits {
		margin-top:.5em;
	}
	
	.card {
        padding:2rem .9rem 1.3rem .9rem;
        border-radius: 1.66rem;
        color: white;
        text-align: center;
        margin: 2em auto auto auto;
        width:94%;
    }
	
	#card-mentoria {
		grid-template-columns: 1fr;
	}
	
	#card-mentoria a button {
		margin:auto;
	}
	
	.card-mentoria-right {
		text-align:center;
	}
	
	#beneficios-mentoria {
		margin-left:-1em;
	}
	
	#card-mentoria-content h2 {
		margin:auto;
	}
	
	#product-selector {
		max-width:300px;
		padding:.5rem;
	}
	
	#product-selector * {
		font-size:1.18em;
	}
	
	.product-title.selected p {
		display:inline;
		margin-left:.5em;
		font-size:80%;
	}
	
	#product-selector:hover {
		transform:none;
	}
	
}

@media (max-width: 440px) and (min-width: 350px) {
	.andre {
		position:absolute;
		right:calc(-20% + 5vw + 1vh);
		top:15%;
		max-width:260px;
        height: auto;
    }
}

@media (max-width: 350px) {
	.andre {
		display:none
    }
	
	#intro {
		grid-template-columns:1fr;
	}
	
	#intro h1 {
		padding-right:1em;
	}
	
	* {
		font-size:95%;
	}
	
	#resultados .results-grid {
		display:block;
	}
}
